.cancel-modal-title {
  img {
    vertical-align: middle;
    margin-right: 8px;
  }

  span {
    @include font($size: 16px, $weight: 600, $lineH: 24px);
  }
}

.custom-cancal-modal {
  text-align: right;
  margin-top: 24px;

  .yes-btn {
    margin-right: 16px;
  }

  .no-btn {
    background-color: #0049ff;

    span {
      color: #fff;
    }
  }
}
