.memeber-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110%;
  margin-bottom: 16px;
  padding: 6px 8px;
  background-color: #f2f2fb;
  border-radius: 4px;

  span {
    margin-right: 10px;
  }

  .list-btn {
    width: 56px;
    margin-right: 30px;
    margin-left: auto;
  }
}
// .memeber-list{
//     width: 100%;
// }
.form-wrapper {
  display: flex;
  margin-bottom: 40px;
}
