@mixin font(
  $family: "Public Sans, Microsoft Yahei",
    $style: normal,
    $weight: 700,
    $size: 18px,
    $color: "#FFFFFF"
) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  font-style: $style;
}

@mixin contentMaxWidth() {
  /*
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    */
  margin: 0 120px;
}

@mixin layout($horizontal: center, $vertical: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $vertical;
  justify-content: $horizontal;
}
