/* 覆盖 ant design 组件默认样式 文件 */

.light-layout {
  background-color: #fff !important;
}

/*  button */
.dark-btn.dark-btn-sm,
.light-btn.light-btn-sm {
  font-size: 14px;
  line-height: 20px;
}

/*  Tabs */

.light-tabs-ink-bar,
.dark-tabs-ink-bar {
  position: relative;
  background-color: transparent !important;

  &::after {
    position: absolute;
    top: 0;
    left: calc(50% - 8px);
    display: inline-block;
    width: 16px;
    height: 4px;
    background-color: #0049ff;
    border-radius: 2px;
    content: "";
  }
}
