/* 覆盖 ant design 组件默认样式 文件 */

.light-layout {
  background-color: #fff !important;
}

/*  button */
.dark-btn.dark-btn-sm,
.light-btn.light-btn-sm {
  font-size: 14px;
  line-height: 20px;
}
