.registration-container {
  background: linear-gradient(to bottom, #ee8582, #d0cbf4);
  padding: 30px 180px;
}

.registration-wrap {
  background: #fff;
  padding: 20px 60px;
  border-radius: 3px;
}

.registration-divider {
  border-color: #ddd;
  border-top: 0;
  margin: 20px 0 40px;
}
