.home-banner {
  @include layout();
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 0 50px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  background: url("@/assets/images/banner.png") no-repeat center center / cover;

  > * {
    @include contentMaxWidth;
  }

  h3 {
    line-height: 2;
  }

  button.dark-btn {
    margin-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
    border: none;
  }
}

.home-section {
  @include contentMaxWidth;
  padding-top: 70px;
  padding-bottom: 70px;

  .home-section-title {
    padding-bottom: 50px;
  }
}

.home-bounties {
  .home-section-title {
    padding-bottom: 0;
  }

  .ranking-name {
    @include layout(normal, center);

    .rank-index {
      width: 30px;
    }

    .rank-icon {
      width: 35px;
      height: auto;
      margin-right: 10px;
    }
  }

  .dark-table-wrapper .dark-table-tbody > tr > td {
    font-weight: 700;

    button {
      font-weight: 700;
    }
  }
}

.home-translators {
  background: url("@/assets/images/bg-translators.png") no-repeat center center / cover;
}

.home-aboutus {
  position: relative;
}

.home-aboutus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("@/assets/images/bg-translators.png") no-repeat center center / cover;
  transform: rotateY(180deg);
  content: "";
}
