.competition-wrapper {
  width: 100%;
  padding-bottom: 30px;
  font-size: 16px;
  background: #fff;
}

.competition-title {
  margin-top: 60px;
}

.competition-banner {
  width: 100%;
  height: 700px;
  background-image: url("/src/assets/svg/activities/home-banner.svg");
  background-size: cover;
}

.competition-tabs-wrap {
  display: flex;
  flex-wrap: wrap; /* 允许卡片换行 */
  justify-content: space-between; /* 将卡片平均分布在一行 */
  width: 100%;
  padding: 20px 40px 60px; /* 调整内边距以适应新的卡片数量 */
  background: linear-gradient(45deg, #ade0f0, #ecc3d6);
}

.competition-materials {
  width: 100%;
  min-height: 400px;
  padding: 0 60px;
  background: #fff;
}

.competition-card {
  width: calc(100% - 32px); /* 计算每个卡片的宽度，减去外边距 */
  margin: 16px;  /* 控制卡片之间的外边距 */
  background: #f2f2fa;

  &:hover {
    box-shadow:
      0 1px 2px -2px rgb(0 0 0 / 16%),
      0 3px 6px 0 rgb(0 0 0 / 12%),
      0 5px 12px 4px rgb(0 0 0 / 9%);
    transform: scale(1.1);
  }

  :global {
    .light-card-body {
      padding-top: 0 !important;
    }
  }
}

.competition-button {
  color: #fff;
  background: #e66ea3;

  &:hover {
    color: #fff !important;
    border: 0 !important;
  }
}

.competition-button-tab {
  @extend .competition-button;
  float: right;
}

.competition-label {
  color: #999;
}
