.registration-container {
  padding: 30px 180px;
  background: linear-gradient(to bottom, #ee8582, #d0cbf4);
}

.registration-wrap {
  padding: 20px 60px;
  background: #fff;
  border-radius: 3px;
}

.registration-divider {
  margin: 20px 0 40px;
  border-color: #ddd;
  border-top: 0;
}
