.back-top-nav {
  @include layout($horizontal: flex-start);
  padding: 0 16px;
  cursor: pointer;

  .nav-ver-bar {
    margin: 0 12px;
  }

  span {
    @include font($size: 14px, $weight: 400, $lineH: 22px);
  }
}
