.amphi-banner {
    text-align: center;

    .banner-img {
        transform: scale(0.8);
        margin-top: 87px;
    }

    .go-now {
        padding: 20px 62.5px;
        background: #fff;
        border-radius: 4px;

        @include font($size: 30px, $color: var(--main-color));
        cursor: pointer;
        margin: 70px 0 58px;
    }
}
